.section-bottom-nav {
  display: flex;
  position: fixed;
  bottom: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  z-index: 1000;
  padding: 0 60px 20px 60px;
  width: 100%;
  pointer-events: none;

  .col {
    pointer-events: auto;
    color: var(--white);
    font-weight: var(--font-medium);
    font-size: var(--text-sm);
    font-family: var(--font-heading);
  }

  @media (max-width: 1100px) {
    display: none;
  }
}
