.section-footer {
  /* for the logo color anim. */
  padding-top: 100px;
  .footer-inner {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    animation: gradient-diagonal 8s ease alternate infinite;
    margin: 80px 60px;
    /* border-radius: 20px; */
    background-color: var(--secondary-bg);
    padding: 30px;
    width: auto;
    min-height: calc(100vh - 160px);
    overflow: hidden;
  }

  .footer-row-1 {
    display: flex;
    gap: clamp(40px, 5vw, 120px);
    align-items: flex-start;
    width: 100%;

    .logo-socials-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .footer-socials {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 20px;
        width: 100%;
        .social-icon {
          transition: all 0.1s ease;
          width: 32px;
          height: 32px;
          fill: var(--secondary-text);
          &:hover {
            fill: var(--secondary-text-opacity);
          }
        }
      }
    }
  }

  .footer-logo {
    object-fit: contain;
    width: 150px;
    fill: var(--secondary-text);
  }

  .footer-links {
    display: flex;
    gap: 90px;
    justify-self: flex-start;
  }

  .footer-col {
    display: flex;

    flex-direction: column;
    gap: 3px;
    h4 {
      text-transform: uppercase;
      cursor: pointer;
      color: var(--secondary-text-opacity);
      font-weight: var(--font-regular);
      font-size: 0.9rem;
      font-family: var(--font-body);
      font-size: clamp(
        14px,
        calc(14px + (16 - 14) * ((100vw - 1400px) / (1980 - 1400))),
        16px
      );
    }

    a,
    p {
      color: var(--secondary-text);
      font-weight: var(--font-regular);
      font-size: clamp(
        12px,
        calc(12px + (16 - 12) * ((100vw - 1400px) / (1980 - 1400))),
        16px
      );
      font-family: var(--font-body);
    }
  }
  .footer-newsletter {
    margin-left: auto;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 14px;
    /* border-radius: 26px; */
    background-color: var(--white);
    padding: 20px;
    width: 460px;
    h3 {
      color: var(--secondary-text);
      font-weight: var(--font-medium);
      font-size: 1.5rem;
      font-family: var(--font-pixel-square);
      font-size: clamp(
        16px,
        calc(16px + (24 - 16) * ((100vw - 1400px) / (1980 - 1400))),
        24px
      );
    }
    p {
      color: var(--secondary-text-opacity);
      font-weight: 300;
      font-size: 1.125rem;
      font-family: var(--font-body);
      font-size: clamp(
        12px,
        calc(12px + (16 - 12) * ((100vw - 1400px) / (1980 - 1400))),
        16px
      );
    }
    .input-container {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
    }

    input {
      /* border-radius: 999px; */
      background-color: var(--color-whitesmoke);
      padding: 16px 20px;
      width: 100%;
      color: var(--black);
    }
    button {
      display: flex;
      position: absolute;
      right: 0;
      justify-content: center;
      align-items: center;
      transition: all 0.1s ease;
      /* border-radius: 999px; */
      background-color: var(--secondary-text);
      width: 60px;
      height: 100%;
      user-select: none;
      color: white;
      &:hover {
        background-color: var(--secondary-text-opacity);
      }
      &:active {
        scale: 0.95;
      }
    }
  }

  .footer-row-2 {
    width: 100%;
    .footer-row-2-1 {
      display: flex;
      flex-direction: row;
      gap: 40px;
    }

    .footer-button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      transition: all 0.3s ease;
      cursor: pointer;
      border: 2px solid var(--secondary-text);
      color: var(--secondary-text);
      border-radius: 999px;
      padding: 0.6rem 1rem;
      .button-text {
        font-weight: 600;
        font-family: var(--font-body);
      }
      &:hover {
        background-color: #f7f7f7c2;
      }
      &:active {
        scale: 0.95;
      }
    }

    .footer-row-2-2 {
      margin: 30px 0;
      width: 100%;
      height: 1px;
      hr {
        position: absolute;
        left: 0;
        transform: scaleY(1);
        border: solid 1px var(--secondary-text);
        width: 100%;
      }
    }

    .bottom-links {
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      opacity: 0.4;

      width: 100%;
      font-weight: 300;
      font-size: clamp(
        12px,
        calc(12px + (16 - 12) * ((100vw - 1400px) / (1980 - 1400))),
        16px
      );
      font-family: var(--font-body);
    }
  }

  .link-hover-anim > * {
    position: relative;
    width: fit-content;
    white-space: nowrap;

    &:after {
      position: absolute;
      bottom: 1px;
      left: 0;

      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.4s ease;
      background: var(--secondary-text);
      width: 100%;
      height: 1px;
      content: "";
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }

    &:not(hover)::after {
      transform-origin: right;
    }
  }

  @media (max-width: 1300px) {
    .footer-row-1 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .footer-newsletter {
      width: 100%;
    }

    .logo-socials-container {
      flex-direction: row !important;
      width: 100%;
      justify-content: space-between;
    }

    .footer-socials {
      justify-content: flex-end !important;
      align-items: start !important;
    }

    .footer-links {
      width: 100%;
      justify-content: space-between;
    }
  }
}
