.section-hero {
  height: 110vh;
  width: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;

  &::selection {
    background-color: #fff;
    color: #b1af99;
  }

  .hero-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
  }

  .text-container {
    color: var(--white);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10vh;
    align-items: center;
    font-family: var(--font-heading);
    transform: translateY(-10%);
    h1 {
      font-size: 6rem;
      line-height: 0.9;
      text-align: center;
      span {
        font-style: italic;
      }
    }
    p {
      margin-top: 30px;
      font-size: 1.25rem;
      font-weight: 300;
      width: 40%;
      text-align: center;
    }
  }
}
