.landing-bg {
  position: absolute;
  background-color: var(--secondary-bg);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;

  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    0% 100%,
    0% 0%,
    100% 49%,
    0% 49%,
    0% 51%,
    0% 51%,
    0% 49%
  );
}

.landing-logo-container {
  pointer-events: none;
  position: fixed;
  padding: 60px;
  /* width: 15vw; */
  min-width: 300px;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  z-index: 101;
  mix-blend-mode: difference;
  svg {
    fill: #ffffff;
    opacity: 0;
  }
}
