.section-lang__nav {
  display: grid;
  position: fixed;
  top: 0;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  margin-top: 20px;
  padding: 0 60px;
  width: 100%;
  height: fit-content;
  user-select: none;

  .text-logo {
    justify-self: center;
    width: 150px;
    height: auto;
    opacity: 0;

  }

  .nav__lang-dropdown-container {
    width: fit-content;
    justify-self: flex-end;
    opacity: 0;
  }

  .nav__lang-dropdown {
    display: flex;
    position: relative;
    grid-column: 3;
    justify-content: space-between;
    align-items: center;
    justify-self: end;
    gap: 0.5rem;
    z-index: 100;
    /* border-radius: 30px; */
    padding: 0.7rem 1rem;
    width: fit-content;
    height: 40px;
    pointer-events: none;
  }

  .dropdown__text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.1rem;
    letter-spacing: var(--ls-small);
    text-transform: uppercase;
  }

  .dropdown__circles {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    transform-origin: 50% 50%;
    will-change: transform;
    width: 5px;
    height: 12px;
  }

  .dropdown__circle-01,
  .dropdown__circle-02 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    will-change: transform;
    /* border-radius: 100%; */
    background-color: white;
    width: 4px;
    height: 4px;
  }

  .nav__lang-dropdown-below {
    position: absolute;
    top: 0;
    grid-column: 3;
    justify-self: end;
    gap: 0.75rem;
    z-index: 99;
    backdrop-filter: blur(20px);
    /* border-radius: 1.8rem; */
    background-color: rgba(22, 22, 22, 0.527);
    width: 125px;
    height: 40px;
    overflow: hidden;
  }

  .dropdown__lang-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
    list-style: none;

    li {
      display: block;
      cursor: pointer;
      margin: 0 5px;
      padding: 0.4rem 0.7rem;
      color: white;
      font-size: 1.1rem;
      letter-spacing: var(--ls-small);
      white-space: nowrap;
      text-transform: uppercase;
    }

    li:hover {
      /* border-radius: 10px; */
      background-color: rgba(146, 146, 146, 0.527);
    }
  }
}
