.page-wrapper {
  /* position: relative; */
  overflow: hidden;
}

body {
  background-color: #000;
  /* background-color:#c5c5c5; */
  font-weight: var(--font-regular);
}

html {
  overflow: auto;
  font-size: 16px;
}

.gs-dev-tools {
  z-index: 9999 !important;
}

html,
body {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* To fix jittery text lines anim. ending */
.lines {
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
}
