/* -------------------------- Geist ------------------------------ */

@font-face {
  font-family: "Vercetti";
  font-style: normal;
  font-weight: 100 900;
  src: url("../../assets/fonts/Vercetti/Vercetti[wght].woff2") format("woff2");
}

/* --------------------------Creato Display------------------------------ */
/* Regular */
@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/CreatoDisplay/CreatoDisplay-Regular.otf")
    format("opentype");
  font-family: "Creato Display";
}

/* Bold */
@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/fonts/CreatoDisplay/CreatoDisplay-Bold.otf")
    format("opentype");
  font-family: "Creato Display";
}

/* Extra Bold */
@font-face {
  font-style: normal;
  font-weight: 800;
  src: url("../../assets/fonts/CreatoDisplay/CreatoDisplay-ExtraBold.otf")
    format("opentype");
  font-family: "Creato Display";
}

/* Black */
@font-face {
  font-style: normal;
  font-weight: 900;
  src: url("../../assets/fonts/CreatoDisplay/CreatoDisplay-Black.otf")
    format("opentype");
  font-family: "Creato Display";
}

/* Medium */
@font-face {
  font-style: normal;
  font-weight: 500;
  src: url("../../assets/fonts/CreatoDisplay/CreatoDisplay-Medium.otf")
    format("opentype");
  font-family: "Creato Display";
}

/* Light */
@font-face {
  font-style: normal;
  font-weight: 300;
  src: url("../../assets/fonts/CreatoDisplay/CreatoDisplay-Light.otf")
    format("opentype");
  font-family: "Creato Display";
}

/* Thin */
@font-face {
  font-style: normal;
  font-weight: 100;
  src: url("../../assets/fonts/CreatoDisplay/CreatoDisplay-Thin.otf")
    format("opentype");
  font-family: "Creato Display";
}

/* Italics */
@font-face {
  font-style: italic;
  font-weight: 400;
  src: url("../../assets/fonts/CreatoDisplay/CreatoDisplay-RegularItalic.otf")
    format("opentype");
  font-family: "Creato Display";
}

@font-face {
  font-style: italic;
  font-weight: 700;
  src: url("../../assets/fonts/CreatoDisplay/CreatoDisplay-BoldItalic.otf")
    format("opentype");
  font-family: "Creato Display";
}

@font-face {
  font-style: italic;
  font-weight: 800;
  src: url("../../assets/fonts/CreatoDisplay/CreatoDisplay-ExtraBoldItalic.otf")
    format("opentype");
  font-family: "Creato Display";
}

@font-face {
  font-style: italic;
  font-weight: 500;
  src: url("../../assets/fonts/CreatoDisplay/CreatoDisplay-MediumItalic.otf")
    format("opentype");
  font-family: "Creato Display";
}

@font-face {
  font-style: italic;
  font-weight: 300;
  src: url("../../assets/fonts/CreatoDisplay/CreatoDisplay-LightItalic.otf")
    format("opentype");
  font-family: "Creato Display";
}

@font-face {
  font-style: italic;
  font-weight: 100;
  src: url("../../assets/fonts/CreatoDisplay/CreatoDisplay-ThinItalic.otf")
    format("opentype");
  font-family: "Creato Display";
}
/* --------------------------Apple Garamond------------------------------ */
/* Regular */
@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/apple_garamond/AppleGaramond.ttf") format("truetype");
  font-family: "Apple Garamond";
}

/* Italic */
@font-face {
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/apple_garamond/AppleGaramond-Italic.ttf") format("truetype");
  font-family: "Apple Garamond Italic";
}

/* Light */
@font-face {
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/apple_garamond/AppleGaramond-Light.ttf") format("truetype");
  font-family: "Apple Garamond";
}

/* Light Italic */
@font-face {
  font-style: italic;
  font-weight: 300;
  src: url("/fonts/apple_garamond/AppleGaramond-LightItalic.ttf")
    format("truetype");
  font-family: "Apple Garamond Italic";
}

/* Bold */
@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/apple_garamond/AppleGaramond-Bold.ttf") format("truetype");
  font-family: "Apple Garamond";
}

/* Bold Italic */
@font-face {
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/apple_garamond/AppleGaramond-BoldItalic.ttf")
    format("truetype");
  font-family: "Apple Garamond Italic";
}
