:root {
  /*-------------------------Colors-------------------------*/
  --white: #fff;
  --trans-white: #ffffffa6;
  --black: #000;
  --light-gray: #686868;
  --gray: #808080;
  --color-gray: #949494;
  --color-whitesmoke: #efefef;
  --light-white-gray: #eaeaea;
  --beige: #918f7d;
  --secondary-bg: #ebebec;
  --secondary-text: #313133;
  --secondary-text-opacity: #737379;

  /* -------------------------Font Families----------------------------- */
  /* Geist */
  --font-geist: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  --font-pixel-square: "Geist Pixel Square", sans-serif;
  --font-pixel-circle: "Geist Pixel Circle", sans-serif;
  --font-pixel-triangle: "Geist Pixel Triangle", sans-serif;
  --font-pixel-grid: "Geist Pixel Grid", sans-serif;
  --font-pixel-line: "Geist Pixel Line", sans-serif;

  /* Creato Display */
  --font-creato: "Creato Display", sans-serif;

  /* Apple Garamond */
  --font-apple: "Apple Garamond", serif;

  /* Vercetti */
  --font-vercetti: "Vercetti", sans-serif;

  /*-------------------------Fonts used-------------------------*/
  --font-heading: var(--font-vercetti);
  --font-body: var(--font-vercetti);
  --font-serif: var(--font-apple);
  --font-mono: var(--font-geist-mono);
  --font-accent: var(--font-geist);

  /*-------------------------Font-sizes-------------------------*/
  --text-xxs: 0.7875rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 2rem;
  --text-xxl: 4rem;
  --text-xxxl: 8rem;

  /*-------------------------Weights-------------------------*/
  --font-small: 200;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 900;

  /*-------------------------Letter-space-------------------------*/
  --ls-small: -1px;

  /*-------------------------Others-------------------------*/
  --radius: 100px;
  --radius-menu: 35px;
  --transition: 0.3s ease;
  --margin: 80px;

  /*-------------------------Anims-------------------------*/
}

/* .gs-dev-tools {
  z-index: 999999 !important;
  position: fixed !important;
} */
