.page-wrapper {
  /* position: relative; */
  overflow: hidden;
}

body {
  background-color: var(--bg);
  font-weight: var(--font-regular);
}

html {
  overflow: auto;
  font-size: 16px;
}

.gs-dev-tools {
  z-index: 9999 !important;
}

html,
body {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
