:root {
  /* Colors */
  --white: #fff;
  --black: #000;
  --light-gray: #686868;
  --gray: #808080;
  --color-gray: #949494;
  --color-whitesmoke: #efefef;
  --light-white-gray: #eaeaea;
  --beige: #b1af99;

  /* Fonts */
  --font-heading: "Creato Display", sans-serif;
  --font-body: "Creato Display", sans-serif;
  --font-italic: "Apple Garamond Italic", serif;

  /* Font-sizes */
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 2rem;
  --text-xxl: 4rem;
  --text-xxxl: 8rem;

  /* Weights */
  --font-small: 200;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 900;

  /* Letter-space */
  --ls-small: -1px;

  /* Others */
  --radius: 100px;
  /* --radius-menu: 0px; */
  --radius-menu: 35px;
  --transition: 0.3s ease;

  --margin: 80px;
}

/* .gs-dev-tools {
  z-index: 999999 !important;
  position: fixed !important;
} */
