.section-menu__nav {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 50%;
  justify-content: center;
  transform: translateX(-50%);
  z-index: 1000;
  margin-bottom: 20px;
  padding: 0 20px;
  width: 100%;
  height: fit-content;
  user-select: none;

  .nav__menu-dropdown {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    z-index: 100;
    border-radius: 30px;
    padding: 0.7rem 1rem;
    width: 95px;
    height: 40px;
    pointer-events: none;
  }
  .dropdown__text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.1rem;
    letter-spacing: var(--ls-small);
  }

  .dropdown__circles {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    transform-origin: 50% 50%;
    will-change: transform;
    width: 5px;
    height: 12px;
  }

  .dropdown__circle-01,
  .dropdown__circle-02 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    will-change: transform;
    border-radius: 100%;
    background-color: white;
    width: 4px;
    height: 4px;
  }

  .nav__menu-dropdown-below {
    position: absolute;
    bottom: 0;
    gap: 0.75rem;
    z-index: 99;
    backdrop-filter: blur(20px);
    border-radius: 1.8rem;
    background-color: rgba(22, 22, 22, 0.527);
    width: 95px;
    height: 40px;
    overflow: hidden;
  }

  .dropdown__menu-container {
    display: flex;
    position: absolute;
    bottom: 0;
    flex-direction: column-reverse;
    justify-content: flex-end;
    margin-bottom: 60px;
    width: 100%;
    list-style: none;
  }

  .dropdown__menu-container li {
    display: block;
    cursor: pointer;
    margin: 0px 5px;
    padding: 0.4rem 0.7rem;
    color: white;
    font-size:2rem;
    letter-spacing: var(--ls-small);
    white-space: nowrap;
  }

  .dropdown__menu-container li:hover {
    border-radius: 10px;
    background-color: rgba(146, 146, 146, 0.527);
  }
}
