.section-nav {
  display: flex;
  position: fixed;
  /* background-color: red; */
  padding: 0 20px;
  margin-top: 20px;
  top: 0;
  justify-content: end;
  /* align-items: center; */
  width: 100%;
  height: fit-content;
  user-select: none;
}

.nav__lang-dropdown {
  pointer-events: none;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  border-radius: 30px;
  /* background-color: rgba(22, 22, 22, 0.863); */
  padding: 0.7rem 1rem;
  height: 40px;
  width: 110px;
  z-index: 100;
}
.dropdown__text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.1rem;
  letter-spacing: var(--ls-small);
}

.dropdown__circles {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 5px;
  height: 12px;
  /* border: 1px solid red; */
  transform-origin: 50% 50%;
  will-change: transform;
}

.dropdown__circle-01,
.dropdown__circle-02 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  background-color: white;
  width: 4px;
  height: 4px;
  will-change: transform;
}

.nav__lang-dropdown-below {
  gap: 0.75rem;
  border-radius: 1.8rem;
  background-color: rgba(22, 22, 22, 0.527);
  height: 40px;
  width: 110px;
  z-index: 99;
  position: absolute;
  overflow: hidden;
  backdrop-filter: blur(20px);
}

.dropdown__lang-container {
  /* background-color: blueviolet; */
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 40px;
}

.dropdown__lang-container li {
  display: block;
  color: white;
  font-size: 1.1rem;
  /* font-weight: var(--font-bold); */
  letter-spacing: var(--ls-small);
  white-space: nowrap;
  padding: 0.4rem 0.7rem;
  margin: 0px 5px;
}

.dropdown__lang-container li:hover {
  background-color: rgba(146, 146, 146, 0.527);
  border-radius: 10px;
}
